[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "latentcor"]
	path = latentcor
	url = https://github.com/mingzehuang/latentcor
	shallow = true
	registered = true
